class <%= identity.webauthn_credential_class %> < ApplicationRecord
  belongs_to :<%= identity.singular %>

  validates :name, presence: true
<%- if passkey_and_security_keys? -%>

  enum :authentication_factor, { first_factor: 0, second_factor: 1 }

  scope :passkeys,       -> { first_factor }
  scope :second_factors, -> { second_factor }
<%- end -%>
end
