<p>Hi,</p>

<p>Someone requested a password reset for your account. If that was you, use the
link below (it expires in 20 minutes). If not, you can ignore this email.</p>

<p><%%= link_to "Reset password", <%= identity.route_scope %>_reset_password_url(sid: @signed_id) %></p>
