class <%= identity.module_name %>::MultiFactorAuthentication::Challenge::SmsController < <%= identity.controller_superclass %>
  require_unauthenticated_access
  rate_limit(**<%= identity.config_reference %>.rate_limits.sms_second_factor, only: :create,
    with: -> { redirect_to new_<%= identity.route_scope %>_mfa_challenge_sms_path, alert: "Too many codes requested. Please try again later." })
  before_action :set_user
  before_action :require_sms_enrolled

  def new
    @user.issue_sms_challenge unless @user.sms_challenge?
  end

  def create
    @user.issue_sms_challenge

    redirect_to new_<%= identity.route_scope %>_mfa_challenge_sms_path, notice: "We sent you another code."
  end

  def update
    unless @user.verify_sms_challenge(params[:code])
      flash.now[:alert] = "That code is incorrect or has expired."
      return render :new, status: :unprocessable_entity
    end

<%- if rememberable? -%>
    start_new_session_for(@user, via: :second_factor, remember: session.delete(:<%= session_key(:remember_me) %>))
<%- else -%>
    start_new_session_for(@user, via: :second_factor)
<%- end -%>
    redirect_to after_authentication_url, status: :see_other
  end

  private

  def set_user
    @user = <%= identity.class_name %>.find_by_token_for!(:authentication_challenge, session[:<%= session_key(:challenge_token) %>])
  rescue ActiveSupport::MessageVerifier::InvalidSignature, ActiveRecord::RecordNotFound
    redirect_to <%= identity.route_scope %>_sign_in_path, alert: "Your sign-in challenge has expired. Please sign in again."
  end

  def require_sms_enrolled
    return if @user.sms_enrolled_at?

    redirect_to <%= identity.route_scope %>_sign_in_path, alert: "Please sign in again."
  end
end
