require "test_helper"

class <%= identity.api_token_class %>Test < ActiveSupport::TestCase
  test "only the secret authenticates until expiry or revocation" do
    user = <%= identity.plural %>(:bob)
    token, secret = <%= identity.api_token_class %>.issue!(user:, name: "Script")

    assert_equal user, <%= identity.api_token_class %>.authenticate(secret).user
    refute_equal secret, token.token_digest
    assert_nil <%= identity.api_token_class %>.authenticate("ae11_#{SecureRandom.urlsafe_base64(32)}")
    assert_nil <%= identity.api_token_class %>.authenticate("not-a-token")

    token.update!(expires_at: 1.second.ago)
    assert_nil <%= identity.api_token_class %>.authenticate(secret)

    token.update!(expires_at: 1.day.from_now)
    token.destroy!
    assert_nil <%= identity.api_token_class %>.authenticate(secret)
  end

  test "deleting the account deletes its tokens" do
    user = <%= identity.plural %>(:bob)
    _, secret = <%= identity.api_token_class %>.issue!(user:, name: "Script")
    user.destroy!
    assert_nil <%= identity.api_token_class %>.authenticate(secret)
  end
<%- if bannable? -%>

  test "a suspended account cannot use a token" do
    user = <%= identity.plural %>(:bob)
    _, secret = <%= identity.api_token_class %>.issue!(user:, name: "Script")
    user.ban!
    assert_nil <%= identity.api_token_class %>.authenticate(secret)
    user.unban!
    assert_nil <%= identity.api_token_class %>.authenticate(secret)
  end
<%- end -%>
end
