class <%= identity.module_name %>::CredentialEnrollmentsController < <%= identity.controller_superclass %>
  require_unauthenticated_access
  before_action :set_registration

  def show
  end

  private

  def set_registration
    @registration = <%= identity.pending_registration_class %>.unexpired.find_by(id: session[:<%= pending_registration_session_key %>])
    redirect_to <%= identity.route_scope %>_sign_up_path unless @registration
  end
end
