class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :<%= identity.webauthn_credentials_table %><%= primary_key_options %> do |t|
      t.references :<%= identity.singular %>, null: false, foreign_key: true<%= reference_type_options %>
      t.string :name,        null: false
      t.string :external_id, null: false, index: { unique: true }
      t.string :public_key,  null: false
      t.bigint :sign_count,  null: false, default: 0
<%- if passkey_and_security_keys? -%>
      t.integer :authentication_factor, null: false
<%- end -%>

      t.timestamps
    end
  end
end
