class <%= identity.settings_module %>::PasswordsController < <%= identity.settings_controller %>
<%- if password_rotatable? -%>
  skip_impediments
<%- end -%>
  rate_limit(**<%= identity.config_reference %>.rate_limits.password_challenge, only: :update, name: "password_challenge",
    with: -> { redirect_to edit_<%= identity.settings_helper_prefix %>_password_path, alert: "Too many attempts. Please try again later.", status: :see_other })
  before_action :set_user

  def edit
  end

  def update
    if @user.update(user_params)
<%- if security_notifications? -%>
      <%= identity.mailer_class %>.send_security_notification(:password_changed)
<%- end -%>
      redirect_to interrupted_destination(otherwise: edit_<%= identity.settings_helper_prefix %>_password_path),
        notice: "Your password has been changed.", status: :see_other
    else
      render :edit, status: :unprocessable_entity
    end
  end
<%- if password_nullable? -%>

  def create
    if @user.password_set?
      return redirect_to edit_<%= identity.settings_helper_prefix %>_password_path,
        alert: "You already have a password. Change it instead.", status: :see_other
    end

    if @user.update(new_password_params)
<%- if security_notifications? -%>
      <%= identity.mailer_class %>.send_security_notification(:password_set)
<%- end -%>
      redirect_to edit_<%= identity.settings_helper_prefix %>_password_path, notice: "Your password has been set.",
        status: :see_other
    else
      render :edit, status: :unprocessable_entity
    end
  end
<%- end -%>
<%- if password_removable? -%>

  def destroy
    if @user.last_sign_in_method?(:password)
      return redirect_to edit_<%= identity.settings_helper_prefix %>_password_path,
        alert: "This is the only way into your account. Add another way to sign in before removing it.", status: :see_other
    end

    @user.update_columns(password_digest: nil<%= password_rotatable? ? ", password_changed_at: nil" : "" %>)
<%- if security_notifications? -%>
    <%= identity.mailer_class %>.send_security_notification(:password_removed)
<%- end -%>
    redirect_to edit_<%= identity.settings_helper_prefix %>_password_path, notice: "Your password has been removed.",
      status: :see_other
  end
<%- end -%>

  private

  def set_user
    @user = <%= identity.current_class %>.user
  end

  def user_params
    params.permit(:password, :password_confirmation, :password_challenge).with_defaults(password_challenge: "")
  end
<%- if password_nullable? -%>

  def new_password_params
    params.permit(:password, :password_confirmation)
  end
<%- end -%>
end
