alice:
<%- if principals.email -%>
  email: alice@example.com
<%- end -%>
<%- if principals.phone -%>
  phone: "+14155550141"
<%- end -%>
<%- if principals.username -%>
  username: alice
<%- end -%>
<%- if password? -%>
  password_digest: <%%= BCrypt::Password.create("quilted-lantern-moss-97", cost: 4) %>
<%- end -%>
<%- if totp? -%>
  totp_secret: <%%= ROTP::Base32.random %>
<%- end -%>
<%- if adminable? -%>
  admin: true
<%- end -%>
<%- if webauthn_credentials? -%>
  webauthn_handle: <%%= WebAuthn.generate_user_id %>
<%- end -%>

bob:
<%- if principals.email -%>
  email: bob@example.com
<%- end -%>
<%- if principals.phone -%>
  phone: "+16505550142"
<%- end -%>
<%- if principals.username -%>
  username: bob
<%- end -%>
<%- if password? -%>
  password_digest: <%%= BCrypt::Password.create("quilted-lantern-moss-97", cost: 4) %>
<%- end -%>
<%- if totp? -%>
  totp_secret: <%%= ROTP::Base32.random %>
<%- end -%>
<%- if adminable? -%>
  admin: false
<%- end -%>
<%- if webauthn_credentials? -%>
  webauthn_handle: <%%= WebAuthn.generate_user_id %>
<%- end -%>
<%- if adminable? -%>

carol:
<%- if principals.email -%>
  email: carol@example.com
<%- end -%>
<%- if principals.phone -%>
  phone: "+12125550143"
<%- end -%>
<%- if principals.username -%>
  username: carol
<%- end -%>
<%- if password? -%>
  password_digest: <%%= BCrypt::Password.create("quilted-lantern-moss-97", cost: 4) %>
<%- end -%>
<%- if totp? -%>
  totp_secret: <%%= ROTP::Base32.random %>
<%- end -%>
  admin: true
<%- if webauthn_credentials? -%>
  webauthn_handle: <%%= WebAuthn.generate_user_id %>
<%- end -%>
<%- end -%>
