module <%= identity.class_name %>::MagicLinkable
  extend ActiveSupport::Concern

  included do
    generates_token_for :magic_link, expires_in: <%= identity.config_reference %>.tokens.magic_link do
      [ email, Rails.cache.read(magic_link_nonce_key) ] # nonce makes magic links single-use
    end
  end

  class_methods do
    def request_magic_link(email)
      find_by(email:)&.tap(&:send_magic_link)
    end

    def consume_magic_link(token)
      if (user = find_by_token_for(:magic_link, token)) && Rails.cache.delete(user.magic_link_nonce_key)
        user
      end
    end
  end

  def generate_magic_link
    Rails.cache.write(magic_link_nonce_key, SecureRandom.hex(16), expires_in: <%= identity.config_reference %>.tokens.magic_link)
    generate_token_for(:magic_link)
  end

  def magic_link_nonce_key
    "<%= identity.singular %>:magic_link_nonce:#{id}"
  end

  def send_magic_link
    <%= identity.mailer_class %>.with(signed_id: generate_magic_link, to: email).magic_link.deliver_later
  end
end
