module <%= identity.password_policy_concern %>
  extend ActiveSupport::Concern

  included do
    has_secure_password

<%- unless password_nullable? -%>
    validates :password, presence: true, length: { minimum: <%= identity.config_reference %>.password.minimum_length }, allow_nil: true
<%- else -%>
    validates :password, length: { minimum: <%= identity.config_reference %>.password.minimum_length }, allow_nil: true
<%- end -%>
<%- if pwned? -%>
    validates :password, not_pwned: { message: "was found in a data breach and can't be used" },
      if: -> { <%= identity.config_reference %>.password.check_breaches }
<%- end -%>
<%- if strong_passwords? -%>
    validate :password_strength, if: -> { password.present? }
<%- end -%>
  end

  def password_set? = password_digest_in_database.present?
<%- if password_nullable? -%>

  def errors
    super.tap { |errors| errors.delete(:password, :blank)<%= " if password_may_be_blank?" unless password_blank_rows_all? %> }
  end
<%- end -%>
<%- if strong_passwords? -%>

  private

  def password_strength
    return if Zxcvbn.test(password).score >= <%= identity.config_reference %>.password.minimum_strength

    errors.add(:password, :too_weak, message: "is too weak. Try adding length or making it less predictable.")
  end
<%- end -%>
end
