module <%= identity.class_name %>::PasswordRotatable
  extend ActiveSupport::Concern

  included do
    before_save if: :will_save_change_to_password_digest? do
      self.password_changed_at = Time.current
    end
  end

  def password_fresh?
    max_age = <%= identity.config_reference %>.password.maximum_age
    return true if max_age.nil? || password_changed_at.nil?
    password_changed_at > max_age.ago
  end
end
